<div class="login">

   <div class="header">
      <h1>Radiotaxi Cofrima</h1>
      <h6>Iniciar sesión</h6>
   </div>

   <div class="form-group">
      <input type="text" name="usuario" id="usuario" class="loginInput" placeholder="Usuario:">
   </div>

   <div class="form-group">
      <input type="password" name="password" id="password" class="loginInput" placeholder="Contraseña:">
   </div>

   <div class="form-group">
      <button class="btn btn-default btnLogin">Entrar</button>
   </div>

   <div class="footer"> Radiotaxi Cofrima - BDOCE.cl - Versión 0.9.3</div>

</div>
