/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
html {
   touch-action: manipulation;
}

button:focus {
   outline:0;
}
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
    font-size: 1em;
}

body {
   -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
   -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
   -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
   background-attachment:fixed;
   font-family: 'Roboto', sans-serif;
   font-size:12px;
   height:100%;
   margin:0px;
   padding:0px;
   text-transform:uppercase;
   width:100%;
   background-color: #4e4f51;
   box-sizing: border-box;
}

/* Portrait layout (default) */
.app {
   padding-top: 60px;
   position:absolute;               /* position in the center of the screen */
   text-align:center;               /* offset horizontal: half of text area width */
   width: 100%;
   height: 100%;
   box-sizing: border-box;
   padding-left: 10px;
   padding-right: 10px;
}


h1 {
   font-size:24px;
   font-weight:normal;
   margin:0px;
   overflow:visible;
   padding:0px;
   text-align:center;
}

#map {
   width: 100%;
   height: 100%;
   background-color: #4e4f51;
}

nav {
   background-color: #d17331;
   display: block;
   position: fixed;
   z-index: 400;
   width: 100% !important;
   height: 60px;
   top: 0px;
   left: 0px;
   -webkit-box-shadow: 0px -5px 74px -18px rgba(0,0,0,0.75);
   -moz-box-shadow: 0px -5px 74px -18px rgba(0,0,0,0.75);
   box-shadow: 0px -5px 74px -18px rgba(0,0,0,0.75);
}

.nav-container {
   width: 100%;
   box-sizing: border-box;
   padding: 16px;
   font-weight: bold;
   color: #333;
   font-size: 1.2em;
}

.numeroTaxi {
   width: 40px;
   height: 32px;
   background-color: rgba(0,0,0,.6);
   border-radius: 50%;
   float: right;
   margin-top: -33px;
   border-right: solid 1px rgba(255, 255,255, 0.5);
   border-bottom: solid 1px rgba(255, 255,255, 0.5);
   text-align: center;
   font-size: 24px;
   line-height: 24px !important;
   padding-top: 8px;
   color: #fff;
}

.titulo-navegacion {
   font-size: 1.8em;
}

.blink {
   animation:fade 3000ms infinite;
   -webkit-animation:fade 3000ms infinite;
}

.login {
   width: 100%;
   height: 100%;
   padding: 20px 12px;
   box-sizing: border-box;
   margin: 0px auto;
   position: relative;
}

.login .header {
   line-height: 1;
   color: #fff;
   text-align: center;
   text-transform: uppercase;
   margin-bottom: 50px;
   margin-top: 10px;
   display: block;
   width: 100%;
}

.login .header h1 {
   line-height: 1;
   margin: 0px;
   margin-bottom: 10px;
   padding: 0px;
   font-weight: 700;
   font-size: 2.5em;
}

.login .header h6 {
   line-height: 1;
   margin: 0px;
   padding: 0px;
   font-weight: lighter;
   padding-top: 5px;
   font-size: 1.3em;
}

.login .footer {
   display: block;
   width: 100%;
   text-align: center;
   color: #999999;
   font-size: 12px;
   font-weight: lighter;
}

#usuario {
   text-transform: lowercase;
}

input {
   border: none;
   border-bottom: solid 1px rgba(255,255,255, .5);
   color: rgba(255,255,255, .5);
   background-color: #333;
   display: block;
   width: 100%;
   font-weight: lighter;
   box-sizing: border-box;
   padding: 13px;
   outline: none;
   font-size: 1.5em;
   transition: all .5s ease-in-out;
}

input:focus {
   outline: none;
   background-color: rgba(255,255,255, .1);
   border-bottom: solid 1px #fff;
   color: #fff;
}

.form-group {
   margin-bottom: 20px;
}

.btn {
   display: block;
   width: 100%;
   text-align: center;
   border: none;
   color: #fff;
   font-weight: lighter;
   -webkit-box-shadow: 2px 28px 74px -18px rgba(0,0,0,0.75);
   -moz-box-shadow: 2px 28px 74px -18px rgba(0,0,0,0.75);
   box-shadow: 2px 28px 74px -18px rgba(0,0,0,0.75);
   transition: all .15s ease-in-out;
   padding-top: 10px;
   padding-bottom: 10px;
   transform: scale(1,1);
   font-weight: bold;
   text-transform: uppercase;
   font-size: 1.6em;
   margin-bottom: 10px;
}

.btn-aceptar {
   background-color: #6fc65d;
}

.btn-cancelar{
   background-color: #d13a3a;
}

.btn:active {
   -webkit-box-shadow: 2px 0px 74px -18px rgba(0,0,0,0.75);
   -moz-box-shadow: 2px 0px 74px -18px rgba(0,0,0,0.75);
   box-shadow: 2px 0px 74px -18px rgba(0,0,0,0.75);
   transform: scale( .9,.9);
}

.btn:hover {
}

.btn-default {
   background-color: #d17331;
}

.btn-inside {
   background-color: #5c6068;
   border-bottom: solid 5px rgba(0,0,0,.4);
}
.btn-default:hover, .btn-default:active {
   background-color: #ac5c24;
}

.card {
   padding: 8px;
   margin-top: -40px;
   padding-bottom: 20px;
   padding-top: 20px;
   min-height: 320px;
   text-align: left;
}

.info-group {
   margin-bottom: 15px;
   font-size: 12px;
   text-transform: uppercase;
   color: #e58142;
   border-bottom: dashed 1px #eee;
   padding-bottom: 10px;
   font-weight: bold;
}

.info-group .valorInfo{
   display: block;
   text-transform: capitalize;
   font-size: 2em;
   font-weight: normal;;
   color: #fff;
}

.dbContainer {
   -webkit-box-shadow: 0px -5px 74px -18px rgba(0,0,0,0.75);
   -moz-box-shadow: 0px -5px 74px -18px rgba(0,0,0,0.75);
   box-shadow: 0px -5px 74px -18px rgba(0,0,0,0.75);
   left: 0px;
   bottom: 0px;
   padding: 8px;
   width: 100%;
   box-sizing: border-box;
   z-index: 100;
   background-color: #4e4f51;
   border-top: solid 1px rgba(255,255,255,.2);
   position: fixed;
}

.notificacion-overlay {
   width: 100%;
   height: 100%;
   position: absolute;
   top: 0px;
   bottom: 0px;
   left: 0px;
   background-color: rgba(0,0,0,.7);
   display: none;
   opacity: 0;
   transform: translate3d(0,0,0);
   -webkit-transform: translate3d(0,0,0);
   transition: all 1s ease-in;
   padding-top: 50px;
   z-index: 500;
}

.notificacion{
   -webkit-box-shadow: 2px 28px 90px -18px rgba(0,0,0,0.9);
   -moz-box-shadow: 2px 28px 90px -18px rgba(0,0,0,0.9);
   box-shadow: 2px 28px 90px -18px rgba(0,0,0,0.9);
   box-sizing: border-box;
   background-color: #fff;
   width: 90%;
   margin: 0px auto;
}
.notificacion-activa {
   display: block;
   opacity: 1;
}
.botones-notificacion {
   display: block;
   width: 100%;
}

.botones-notificacion .btn {
   margin-bottom: 0px;
   width: 50% !important;
   display: inline !important;
}

.botones-notificacion .btn:first-child {
   float: left;
}
.botones-notificacion .btn:last-child {
   float: right;
}

.notificacion-container {
   padding: 15px;
   text-align: left;
}
.boton-dash {
   margin-bottom: 5px;
}
.texto-notificaion {
   display: block;
   font-size: 12px;
   font-weight: lighter;
   color: #e58142;
   text-transform: uppercase;
   margin-bottom: 10px;
}
.titulo-notificacion{
   text-transform: uppercase;
   font-weight: bold;
   font-size: 14px;
   color: #e58142;
}
.texto-notificaion .alert-data {
   text-transform: capitalize;
   font-size: 1.8em;
   font-weight: bold;
   color: #444;
}
.texto-notificaion:nth-child(3){
   padding-bottom: 60px;
}

/*
spinner
*/
.loading {
   width: 100%;
   height: 100%;
   background-color: rgba(0,0,0,.83);
   position: fixed;
   top: 0px;
   left: 0px;
   z-index: 500;
   display: none;
}
.loading-text {
   color:#fff;
   text-align: center;
   display: block;
   padding-top: 70px;
   font-weight: lighter;
   font-size: 12px;
}

.buscandoMovil {
   font-size: 2em;
   text-align: center;
   display: block;
   width: 100%;
   color: #fff;
   padding-top: 50px;
   margin-bottom: 50px;
}

.dashBoard {
   padding-top: 40px;
}

.carrera {
   text-align: left;
   display: flex;
   flex-direction: column;
   align-items: flex-end;
   background-color: #262626;
   color: #fff;
   padding-top: 30px;
}
.carrera a {
   color: #fff;
}
.grupoCliente {
   margin-bottom: 5px;
   font-size: 12px;
   text-transform: uppercase;
   color: #e58142;
   padding-bottom: 10px;
   font-weight: bold;
}
.infoCliente {
   box-sizing: border-box;
   width: 100%;
   height: 200px;
   padding-left: 20px;
   padding-top: 10px;
   margin-top: -40px;
   padding-right: 20px;
   overflow-y: auto;
   overflow-x: hidden;
   -webkit-box-shadow: 0px -5px 74px -18px rgba(0,0,0,0.75);
   -moz-box-shadow: 0px -5px 74px -18px rgba(0,0,0,0.75);
   box-shadow: 0px -5px 74px -18px rgba(0,0,0,0.75);
   transition: all .5s ease-in;
}
.dbContainerCarrera {
   width: 100%;
   padding-top: 10px;
   text-align: center;
   box-sizing: border-box;
   opacity: 1;
   transition: all .5s ease-in;
   background-color: #262626;
}
.dbContainerCarrera .btn {
   margin-bottom: 0px;
}
.dbContainer-hide {
   opacity: 0;
   margin-top: -100px;
}

.desCliente {
   line-height: 1;
   margin-top: 0px;
   font-size: 1.8em;
   color: #fff;
   font-weight: bold;
}

.spinner {
  width: 60px;
  height: 60px;
  position: relative;
  margin: 200px auto;
}

.barra-tiempo {
   height: 5px;
   background-color: #e58142;
   width: 0%;
   margin-bottom: 10px;
}

.barra-tiempo-activa {
   width: 100%;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #eee;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}
