<style type="text/css">
   nav { display: none; }
   .app { padding: 0px !important; overflow-y: hidden;}
</style>

<div class="carrera">

   <div class="infoCliente">

      <div class="grupoCliente">
         Cliente:
         <div class="desCliente nombre"></div>
      </div>

      <div class="grupoCliente">
         Teléfono:
         <div class="desCliente telefono"></div>
      </div>

      <div class="grupoCliente">
         Dirección:
         <div class="desCliente direccion"></div>
      </div>

      <div class="grupoCliente">
         Observaciones:
         <div class="desCliente observacion"></div>
      </div>

   </div>

   <div class="dbContainerCarrera">
      <button class="btn btn-default cerrarCarrera">Terminar Carrera</button>
   </div>

</div>


<div id="map">
</div>

<script type="text/javascript">

   Route.loadClientData();
   initMap();

</script>
