<div class="dashBoard">

   <div class="card">
      <div class="info-group">
         Conductor: <div class="valorInfo nombreConductor">Nombre Apellido</div>
      </div>

      <div class="info-group">
         Móvil: <div class="valorInfo numeroMovil">0</div>
      </div>

      <div class="info-group">
         Posición en fichero: <div class="valorInfo posicionFichero">calculando...</div>
      </div>

      <div class="boton-dash">
         <button class="btn btn-inside buscarCarrera">Buscar Carrera</button>
      </div>

      <div class="boton-dash">
         <button class="btn btn-inside crearCarrera">Ocupado</button>
      </div>

   </div>

   <div class="dbContainer">
      <button class="btn btn-default logOut">Terminar Sesión</button>
   </div>

</div>

<div class="notificacion-overlay">

   <div class="notificacion">
      <div class="barra-tiempo">
      </div>
      <div class="notificacion-container">

         <div class="titulo-notificacion">Ha recibido una carrera</div>

         <div class="texto-notificaion">
            <div class="alert-data direccion">Cargando direccion...</div>
         </div>

         <div class="texto-notificaion">
            <div class="titulo-notificacion">
               Teléfono:
            </div>
            <div class="alert-data telefono"></div>
         </div>

      </div>


      <div class="botones-notificacion">
         <button class="btn btn-aceptar" x-data-id="">Aceptar</button>
         <button class="btn btn-cancelar" x-data-id="">Rechazar</button>
      </div>

   </div>

</div>

<script type="text/javascript">
   Dash.setData();
   App.map.remove();
   //Dash.searchRoute();
</script>
