<div class="buscandoMovil">
      Buscando móvil...
      <script type="text/javascript">
         asignarTaxi();
      </script>
</div>

<button class="btn btn-default" id="buscar_asociado">Buscar Móvil</button>
