<div class="login">

   <div class="header">
      <h1>Iniciar Sesión</h1>
   </div>

   <div class="form-group">
      <input type="text" name="usuario" id="usuario" class="loginInput" placeholder="Usuario:" data-dependency="password">
   </div>

   <div class="form-group">
      <input type="password" name="password" id="password" class="loginInput" placeholder="Contraseña:">
   </div>

   <div class="form-group">
      <button class="btn btn-default btnLogin">Entrar</button>
   </div>

   <div class="footer"> Radiotaxi Cofrima - BDOCE.cl - Versión 9.10</div>

</div>

<script type="text/javascript">
</script>
